In [1]:
import pandas as pd

url_confirmed = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv'
url_deaths = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv'
url_recovered = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv'

In [2]:
confirmed = pd.read_csv(url_confirmed)
confirmed.head()

HTTPError: HTTP Error 503: first byte timeout

In [ ]:
date1 = confirmed.columns[4:]
total_confirmed = confirmed.melt(
    id_vars=["Province/State","Country/Region","Lat","Long"],
    value_vars=date1,
    var_name='date',
    value_name='confirmed'
    )
total_confirmed.tail()

,Province/State,Country/Region,Lat,Long,date,confirmed
244810,NaN,West Bank and Gaza,31.952200,35.233200,5/29/22,657573
244811,NaN,Winter Olympics 2022,39.904200,116.407400,5/29/22,535
244812,NaN,Yemen,15.552727,48.516388,5/29/22,11819
244813,NaN,Zambia,-13.133897,27.849332,5/29/22,321503
244814,NaN,Zimbabwe,-19.015438,29.154857,5/29/22,252092

In [ ]:
deaths = pd.read_csv(url_deaths)
deaths.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,7695,7697,7698,7698,7698,7699,7699,7699,7701,7701
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,3497,3497,3497,3497,3497,3497,3497,3497,3497,3497
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,6875,6875,6875,6875,6875,6875,6875,6875,6875,6875
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,153,153,153,153,153,153,153,153,153,153
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,1900,1900,1900,1900,1900,1900,1900,1900,1900,1900

In [ ]:
date1 = deaths.columns[4:]
total_deaths = deaths.melt(
    id_vars=["Province/State","Country/Region","Lat","Long"],
    value_vars=date1,
    var_name='date',
    value_name='deaths'
    )
total_deaths.head()

  Province/State Country/Region       Lat       Long     date  deaths
0            NaN    Afghanistan  33.93911  67.709953  1/22/20       0
1            NaN        Albania  41.15330  20.168300  1/22/20       0
2            NaN        Algeria  28.03390   1.659600  1/22/20       0
3            NaN        Andorra  42.50630   1.521800  1/22/20       0
4            NaN         Angola -11.20270  17.873900  1/22/20       0

In [ ]:
recovered = pd.read_csv(url_recovered)
recovered.head()

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/20/22,5/21/22,5/22/22,5/23/22,5/24/22,5/25/22,5/26/22,5/27/22,5/28/22,5/29/22
0,NaN,Afghanistan,33.93911,67.709953,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,NaN,Albania,41.15330,20.168300,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,NaN,Algeria,28.03390,1.659600,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,NaN,Andorra,42.50630,1.521800,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,NaN,Angola,-11.20270,17.873900,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
date1 = recovered.columns[4:]
total_recovered = recovered.melt(
    id_vars=["Province/State","Country/Region","Lat","Long"],
    value_vars=date1,
    var_name='date',
    value_name='recovered'
    )
total_recovered.head()

  Province/State Country/Region       Lat       Long     date  recovered
0            NaN    Afghanistan  33.93911  67.709953  1/22/20          0
1            NaN        Albania  41.15330  20.168300  1/22/20          0
2            NaN        Algeria  28.03390   1.659600  1/22/20          0
3            NaN        Andorra  42.50630   1.521800  1/22/20          0
4            NaN         Angola -11.20270  17.873900  1/22/20          0

In [ ]:
covid_data = total_confirmed.merge(
    right=total_deaths,
    how='left',
    on=["Province/State","Country/Region","Lat","Long","date"]
)
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0

In [ ]:
covid_data = covid_data.merge(
    right=total_recovered,
    how='left',
    on=["Province/State","Country/Region","Lat","Long","date"]
)

covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,1/22/20,0,0,0.0
1,NaN,Albania,41.15330,20.168300,1/22/20,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,1/22/20,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,1/22/20,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,1/22/20,0,0,0.0

In [ ]:
covid_data["date"] = pd.to_datetime(covid_data["date"])
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0

In [ ]:
#檢查是不是none
covid_data.isna().sum()

Province/State    168364
Country/Region         0
Lat                 1718
Long                1718
date                   0
confirmed              0
deaths                 0
recovered          18039
dtype: int64

In [ ]:
covid_data['recovered'] = covid_data['recovered'].fillna(0)

#檢查是不是none
covid_data.isna().sum()

Province/State    168364
Country/Region         0
Lat                 1718
Long                1718
date                   0
confirmed              0
deaths                 0
recovered              0
dtype: int64

In [ ]:
#建立active的欄位
covid_data['active'] = covid_data['confirmed'] - covid_data['deaths'] - covid_data['recovered']
covid_data.head()

,Province/State,Country/Region,Lat,Long,date,confirmed,deaths,recovered,active
0,NaN,Afghanistan,33.93911,67.709953,2020-01-22,0,0,0.0,0.0
1,NaN,Albania,41.15330,20.168300,2020-01-22,0,0,0.0,0.0
2,NaN,Algeria,28.03390,1.659600,2020-01-22,0,0,0.0,0.0
3,NaN,Andorra,42.50630,1.521800,2020-01-22,0,0,0.0,0.0
4,NaN,Angola,-11.20270,17.873900,2020-01-22,0,0,0.0,0.0

In [ ]:
#取得最新時間
covid_data['date'].iloc[-1].strftime('%Y-%m-%d')

'2022-05-29'

In [ ]:
covid_data1 = covid_data.groupby('date')[['confirmed','deaths','recovered','active']].sum().reset_index()
covid_data1.tail()

          date  confirmed   deaths  recovered       active
854 2022-05-25  527351268  6283065        0.0  521068203.0
855 2022-05-26  527840775  6284533        0.0  521556242.0
856 2022-05-27  528433064  6286540        0.0  522146524.0
857 2022-05-28  528722343  6287246        0.0  522435097.0
858 2022-05-29  528997669  6287786        0.0  522709883.0

In [ ]:
#全球染疫數
covid_data1['confirmed'].iloc[-1]

528997669

In [ ]:
#全球染疫數(前一天)
covid_data1['confirmed'].iloc[-2]

528722343

In [ ]:
#全球染疫增加人數
covid_data1['confirmed'].iloc[-1] - covid_data1['confirmed'].iloc[-2]

275326

In [ ]:
#全球染疫比例
(covid_data1['confirmed'].iloc[-1] - covid_data1['confirmed'].iloc[-2]) / covid_data1['confirmed'].iloc[-1] * 100

0.05204673217567618

In [ ]:
covid_data["Country/Region"].unique()

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antarctica', 'Antigua and Barbuda', 'Argentina', 'Armenia',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bhutan', 'Bolivia', 'Bosnia and Herzegovina', 'Botswana',
       'Brazil', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burma', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada',
       'Central African Republic', 'Chad', 'Chile', 'China', 'Colombia',
       'Comoros', 'Congo (Brazzaville)', 'Congo (Kinshasa)', 'Costa Rica',
       "Cote d'Ivoire", 'Croatia', 'Cuba', 'Cyprus', 'Czechia', 'Denmark',
       'Diamond Princess', 'Djibouti', 'Dominica', 'Dominican Republic',
       'Ecuador', 'Egypt', 'El Salvador', 'Equatorial Guinea', 'Eritrea',
       'Estonia', 'Eswatini', 'Ethiopia', 'Fiji', 'Finland', 'France',
       'Gabon', 'Gambia', 'Georgia', 'Germany', 'Ghana', 'Greece',
       'Grenada', 'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana',
       'Haiti', 'Holy See', 'Honduras', 'Hungary', 'Iceland', 'India',
       'Indonesia', 'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy',
       'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya', 'Kiribati',
       'Korea, North', 'Korea, South', 'Kosovo', 'Kuwait', 'Kyrgyzstan',
       'Laos', 'Latvia', 'Lebanon', 'Lesotho', 'Liberia', 'Libya',
       'Liechtenstein', 'Lithuania', 'Luxembourg', 'MS Zaandam',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia', 'Moldova', 'Monaco', 'Mongolia', 'Montenegro',
       'Morocco', 'Mozambique', 'Namibia', 'Nepal', 'Netherlands',
       'New Zealand', 'Nicaragua', 'Niger', 'Nigeria', 'North Macedonia',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Russia', 'Rwanda',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and the Grenadines', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore', 'Slovakia', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'Sudan', 'Summer Olympics 2020', 'Suriname',
       'Sweden', 'Switzerland', 'Syria', 'Taiwan*', 'Tajikistan',
       'Tanzania', 'Thailand', 'Timor-Leste', 'Togo', 'Tonga',
       'Trinidad and Tobago', 'Tunisia', 'Turkey', 'US', 'Uganda',
       'Ukraine', 'United Arab Emirates', 'United Kingdom', 'Uruguay',
       'Uzbekistan', 'Vanuatu', 'Venezuela', 'Vietnam',
       'West Bank and Gaza', 'Winter Olympics 2022', 'Yemen', 'Zambia',
       'Zimbabwe'], dtype=object)

In [ ]:
covid_data_2 = covid_data.groupby(['date', 'Country/Region'])[['confirmed','deaths','recovered','active']].sum().reset_index()
covid_data_2

,date,Country/Region,confirmed,deaths,recovered,active
0,2020-01-22,Afghanistan,0,0,0.0,0.0
1,2020-01-22,Albania,0,0,0.0,0.0
2,2020-01-22,Algeria,0,0,0.0,0.0
3,2020-01-22,Andorra,0,0,0.0,0.0
4,2020-01-22,Angola,0,0,0.0,0.0
...,...,...,...,...,...,...
170936,2022-05-29,West Bank and Gaza,657573,5660,0.0,651913.0
170937,2022-05-29,Winter Olympics 2022,535,0,0.0,535.0
170938,2022-05-29,Yemen,11819,2149,0.0,9670.0
170939,2022-05-29,Zambia,321503,3985,0.0,317518.0
170940,2022-05-29,Zimbabwe,252092,5500,0.0,246592.0

In [ ]:
value_confirmed = covid_data_2[covid_data_2['Country/Region']=='Taiwan*']['confirmed'].iloc[-1]
value_confirmed

1892272

In [ ]:
value_confirmed = covid_data_2[covid_data_2['Country/Region']=='Taiwan*']['confirmed'].iloc[-1] - covid_data_2[covid_data_2['Country/Region']=='Taiwan*']['confirmed'].iloc[-2]
value_confirmed

76569

In [ ]:
delta_confirmed = covid_data_2[covid_data_2['Country/Region']=='Taiwan*']['confirmed'].iloc[-2] - covid_data_2[covid_data_2['Country/Region']=='Taiwan*']['confirmed'].iloc[-3]
delta_confirmed

80636